h1 {
    color: #e70d8cfb ;
    padding-right: 30px;
}

* {
    border: solid;
}

.header *{
    border: solid;
}

.header{
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
     border-color: #002345; 
}

.footer{
    display:flex; 
    justify-content: flex-end;
}

.menu{
    display:flex;
    background-color: cyan;
   margin-right: 20px;
}
.menu a{
    margin-left: 20px;
}
body{
    background-color: rgb(182, 26, 221)
}
a:link{
    color: white;
}

a:visited{
    color: blue;
}

.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1
}
.item:hover img{
    opacity: 0.33;
}




